html,
body {
  margin: 0;
}

/* ─── Html And Body ──────────────────────────────────────────────────── ✦ ─ */

html {
  font-family: "Lotion Regular" !important;
  padding: 0;
  font-size: 0.5cm;
}

body {
  --body-padding: 2rem;
  padding: 2rem;
  background-color: #dbe1ff;
}

@media screen and (max-width: 600pt) {
  html {
    font-size: calc(100svw / 45);
  }
}

/* ─── Whole Content Container ────────────────────────────────────────── ✦ ─ */

#whole-content-container {
  --max-width: calc(min(100svw - 2 * var(--body-padding), 40rem));
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--max-width);
  margin: auto;
}

/* ─── Justification Button ───────────────────────────────────────────── ✦ ─ */

#justify-button {
  width: 17rem;
  height: auto;
  align-self: flex-end;
}

#justify-button-arrow-shape {
  fill: black;
}

#justify-button-arrow-shape:hover {
  fill: url(#rainbow);
  animation: hue-rotate-loop 0.75s linear infinite;
}

#justify-button-arrow-shape:active {
  opacity: 50%;
}

#justify-button-arrow-shape-stroke {
  fill: black;
}

#justify-button-arrow-shape:hover #justify-button-arrow-shape-stroke {
  fill: rgba(255, 255, 255, 0.2);
}

#justify-button-label {
  pointer-events: none;
  fill: white;
}

@keyframes hue-rotate-loop {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}

/* ─── Editor ─────────────────────────────────────────────────────────── ✦ ─ */

#editor-container {
  --editor-padding: 2rem;
  background-color: #ffbce2;
  padding: var(--editor-padding);
  max-width: 100%;
  margin: auto;
  border: 2pt solid black;
}

#editor {
  --editor-width: calc(var(--max-width) - 2 * var(--editor-padding));
  background-color: transparent;
  border: transparent;
  outline: none !important;
  font-size: 1rem;
  max-width: var(--editor-width);
  width: var(--editor-width);
  font-family: "Lotion Regular" !important;

  color: black;
  line-height: 1.6;
  overflow-y: hidden;
  resize: none;
}

#help-area {
  max-width: var(--max-width);
  font-size: 0.7rem;
  padding: 0.5rem;
}

code {
  padding: 0 0.25rem;
  border: 1pt solid black;
  background-color: #fff2db;
}

ul {
  padding-left: 0.5rem;
}

li {
  margin-top: 0.5rem;
  list-style-type: "✦";
  padding-left: 0.5rem;
  line-height: 1.8;
}
